* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;

}

/* section1 */
.mybox {

    padding: 30px;
    width: 400px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #F53838;
    background: yellow;
}

.slick-list {
    overflow: visible !important;
    /* padding: 0 20% 0 0; */
    position: relative;
    z-index: -1;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}

.next {
    border: none;
    width: 50px;
    border-radius: 100%;
    background-color: #F53838;
}

.pre {
    border: none;
    background-color: #F53838;
    width: 50px;
    border-radius: 100%;
}

.slick-next:before,
.slick-prev:before {
    color: red;

}

/* section2 */
.mybox {

    padding: 30px;
    width: 400px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #F53838;
    background: yellow;
}

.slick-list {
    overflow: visible !important;
    /* padding: 0 20% 0 0; */
    position: relative;
    z-index: -1;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}

.next {
    border: none;
    width: 50px;
    border-radius: 100%;
    background-color: #F53838;
}

.pre {
    border: none;
    background-color: #F53838;
    width: 50px;
    border-radius: 100%;
}

.slick-next:before,
.slick-prev:before {
    color: red;

}

.next1 {
    border: none;
    width: 50px;
    border-radius: 100%;
    background-color: yellowgreen;
}

.pre1 {
    border: none;
    background-color: yellowgreen;
    width: 50px;
    border-radius: 100%;
}

.mycard {
    width: 946px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(3, 137, 255, 0.12);
}

.well {
    max-width: 834px;
    color: var(--White, #FBFDFF);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;

}

.newdots .slick-dots li {
    margin: 0 15px !important;
}

.newdots .slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    content: '';
    text-align: center;
    /* opacity: .25; */
    background-color: black;

}

.newdots .slick-dots li.slick-active button:before {
    width: 45px;
    height: 15px;
    border-radius: 50px;
    background-color: #F53838;
}

/* accordian */
.FAQ {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;

}

.accordion-item {
    border: none !important;
}

.accordion {
    --bs-accordion-border-color: none !important;
}

.faq2 {
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 104%;
    /* 83.2px */
}

/* secton6 */
.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: none !important;
    background-color: #FFF03F !important;
}

.accordion-button {
    background-color: #FFF03F !important;
}

.bg-skyblue {
    background-color: rgb(225, 230, 232) !important;
}